---js
const eleventyNavigation = {
	key: "home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<h1>0x1eaf's web space</h1>
<main>
	<p>
	i'm ada or 0x1eaf (pronounced "leaf"), pronouns it/its. i'm software developer
	who lives in uppsala, sweden.
	</p>
	<p>
	professionally i'm a java backend developer, but
	outside work i like to explore many different topics in computer science.
	</p>
	<p>
	i'm currently working through the <a href="https://cs.ossu.dev/">OSSU computer science curriculum</a>.
	you can track my progress <a href ="/ossu/progress">here</a>.
	</p>
</main>
<a rel="me" href="https://girlcock.club/@0x1eaf"></a>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>latest {{ latestPostsCount }} post{% if latestPostsCount != 1 %}s{% endif %}</h1>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
